.in_loading{

    #smooth-wrapper{
        z-index: 999;
    }

    .initial_loading{

        position: fixed;
        background: #000;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 10s linear;
        transition-delay: 2s;

        &.style1{
            position:relative;
            height:100vh;
        }
    
        .logo{
            max-width: 600px;
            /* animation: loadingAn 1s ease-in-out infinite alternate; */
        }

        video{
            max-width: 600px;
        }
    }
}

.initial_loading{
    text-align: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    z-index: 9999;

    .building{
        position:relative;
        overflow: hidden;
        margin-bottom: 20px;

        .overlay{

            background:#000;
            top:0;
            left:0;
            width:100%;
            position:absolute;
            content:'';
            /* height:100%; */

        }

        .building_icon{
            max-width: 50px;
        }
    }


    video{
        max-width: 300px;
    }

    .bar{
        height: 1px;
        width: 100%;
        display: block;
        background: #ffffff2e;
        position: relative;
        overflow: hidden;
        border-radius: 100px;
        margin-top: 20px;

        .fill{
            position:absolute;
            left:0;
            top:0;
            height:100%;
            background:var(--theme_primary_color)
        }
    }

    .count1{

        margin: 20px 0 0;
    }
}



@keyframes loadingAn {
    0%{
        opacity:0.5;
    }

    100%{
        opacity:1
    }
}

@media(max-width:767px){
    .in_loading{
    
        .initial_loading{
        
            .logo{
                max-width: 300px;            
            }
        }
    }

    .initial_loading{

        video{

            max-width: 220px;
            margin-bottom: 10px;
        }
    }

    .building{

        margin-bottom:20px;
    }
}