.watermark{
  position:absolute;
  right: 10px;
  bottom: 5px;
  z-index: 1;
  color: #fff;
  font-size: 11px;

  &.left{
    left:10px;
    text-align: left;
  }

  &.style1{
    bottom: 150px;
  }

  &.style2{
    bottom: 50px;
  }

  &.style3{
    bottom: 80px;

  }
}