.micro_banner{

  padding:150px 0 150px!important;
  position:relative;
  text-align: center;

  &:before{
    position:absolute;
    content:'';
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0 0 0 / 30%);
    z-index: 1;
    display:none;
  }

  .microbanner_bg{
    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.7;
    
  }

  .microTitle{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 4px;
    font-size: 24px;
    position: relative;
        z-index: 1;
  }
  .microContent{
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
  
  }
  nav{
    position: relative;
    z-index: 1;

  }

  .breadcrumb{
    justify-content: center;
    margin:0;
    position: relative;
        z-index: 1;

    li{

      color:var(--theme_primary_color);
      font-size: 16px;

      &:before{
        color:var(--theme_primary_color);
      }

      a{
        color:var(--theme_primary_color);
        font-size: 16px;
      }
    }
  }

  
}