/* Typology Section */

.typology_section {
    padding: 180px 0 !important;
    .images {
        max-height: 340px;
        object-fit: cover;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            height: 300px;
            object-fit: contain;
        }

    }
    
    .typology_content{background: #121212; padding: 20px;margin: 10px; text-align: center;position: relative;
        .typology_diamond_btn{position: absolute;top: -40px;left: 50%;transform: translateX(-50%);display: flex;justify-content: center;align-items: center;gap:15px;
        img{width: 20px;height: 20px;}}
        .content-box h1{font-size: 22px;letter-spacing: 1px ;color: var(--theme_primary_color);line-height: 28px;}
        .content-box p{font-size: 13px;letter-spacing: 1px;font-weight: 300; line-height: 22px;}
    }
     .desktop-view-typo-images{display: none;}
    
}


@media(min-width:1200px){
    .typology_section {padding: 100px 0 !important;}
    .location_map_section .locationMapContent .location_points .distance {font-size: 20px;padding: 4px 10px; }
    .typology_section .images{display: table; margin: auto;}
    .typology_section .images img { height: 100%; object-fit: cover; height: 460px;max-height:500px;object-fit: contain;}

    .typology_section .typology_content{position: absolute;right: 7%;top: 44%;width: 23%;padding: 70px 30px 40px; transform: translateY(-50%);min-height: 330px;}
    .typology_section .content-box {min-height: 230px;}
    .typology_section .typology-before-line{position: relative;}
    /* .typology_section .typology_content::before { position: absolute;content: '';left: -100%;top: 10%;width: 100%;height: 100%;background: url('/src/frontend/assets/images/typologies/before-lines.svg') no-repeat;background-position: right;background-size: 170px; } */

    .typology_section .desktop-view-typo-images {display: block !important;position: absolute;left: 10%;top: 50%;transform: translateY(-50%);}
    .typology_section .desktop-view-typo-images .typologies-images .image-1 {width: 220px;height: 170px;position: absolute;z-index: -1;left: 20%;top: -2%;}
    .typology_section .desktop-view-typo-images .typologies-images .image-2 {width: 250px;position: absolute;left: -10%;height: 300px;top: 50%;transform: translateY(-50%);}
    .typology_section .desktop-view-typo-images .typologies-images .image-3 { width: 55%;height: 150px; position: absolute;left: 15%;top: 65%;}
    .typology_section .desktop-view-typo-images .typologies-images {position: relative;width: 460px;height: 460px;}
}

@media screen and (min-width: 1430px) and (max-width: 1500px){
    .typology_section {padding: 100px 0 !important;}
    .typology_section .images img { height: 100%; object-fit: cover; width: 100%;object-fit: contain;}
    /* .typology_section .images{max-height: 520px;height: 520px;} */
    .typology_section .typology_content{position: absolute;right: 7%;top: 40%;width: 23%;padding: 70px 30px 40px; transform: translateY(-50%);min-height: 330px;}
    .typology_section .desktop-view-typo-images {top: 50%;}
    .typology_section .content-box {min-height: 230px;}
    .typology_section .typology-before-line{position: relative;}
    /* .typology-before-line::before{position: absolute;content: '';left: -81%; top: 24%;transform: translateY(-50%);width: 90px;height: 1px;background: #404040;}
    .typology-before-line::after { position: absolute;content: ''; left: -48%; top: 55%;transform: translateY(-50%); width: 1px;height: 140px;background: #404040; } */
    .typology_section .desktop-view-typo-images .typologies-images .image-2 {width: 250px;position: absolute;left: -10%;height: 300px;top: 50%;transform: translateY(-50%);}
    
}

@media(min-width:1501px){
    /* .typology_section .images img {height: 600px;max-height: 600px;} */
    /* .typology_section .images {max-height: 600px;height: 600px;} */
}


/* Floor Plan Desktop Responsive  */


@media(min-width:1280px){
    .floor_plan_section{position: relative;}

    .floor_plan_section .container {margin-top: 0px;}
    .floor_plan_section::before{ position: absolute;content: '';left: 0;top: 0;width: 100%;height: 100%;
        background: url('/src/frontend/assets/images/timeline/bg.webp') no-repeat;opacity: 0.2;}
    .floor_plan_section .floor_plan_data{display: flex;justify-content: center;gap: 50px;padding: 40px 0 40px; position:relative;}
    .floor_plan_section .accordion-item {width: 30%;}
    .location_map_section .location_points {
        margin-bottom: 30px;
    }
    
    .floor_plan_section .accordion-header {background: #212121;box-shadow: none;color: var(--theme_primary_color);text-transform: uppercase;font-size: 14px;letter-spacing: 1px;padding: 15px 12px;border-radius: 4px !important;}

    .floor_plan_section .accordion-item .accordion-body .swiper-slide img {padding: 30px;background: #fff;filter: blur(3px);}
}



/* Location Section Desktop Responsive */

@media(min-width:1280px){
    
    .location_map_section .locationMapContent .thumbnail{position: relative;}
    .location_map_section .locationMapContent .thumbnail .location_btn {position: absolute;right: 2%;top: 2%;padding: 6px 10px;display: flex;justify-content: center;align-items: center;gap: 10px;background: transparent;color: #fff;letter-spacing: 1px;font-weight: 300;font-size: 15px;box-shadow: none;border: 1px solid #4343439e;}
    .location_map_section .locationMapContent .thumbnail .location_btn img{width: 25px;}
    .location_map_section .locationMapContent .title { margin-top: 0px; }
}





/* No Pollution Zone Desktop Responsive */
.golden-icon-no-pollution{display: none !important;}
@media(min-width:1280px){
    .location_section { padding: 10px 0 !important;}
    .location_section .abs_number { bottom: 10%; }
    .location_section .abs_number .zero_img{width: 220px;}
    .location_section img.golden-icon-no-pollution {width: 20px; height: auto; display: block !important; text-align: center;margin: 20px auto 15px;}
    .location_section .mySwiper .content {position: relative;display: block;height: 100%;width: 100%;margin: 0 auto;}
    .location_section .mySwiper .swiper-slide-active .content img {display: none !important;  }
    .location_section .mySwiper .title { font-size: 18px !important;}
    .location_section .mySwiper .swiper-slide-active .km_text { display: block; padding: 0; margin: 0;font-size: 30px; }
    /* .location_section .mySwiper .swiper-slide-active h4 { margin-top: 20px !important; font-size: 24px !important; } */
    .location_section .swiper-scrollbar {bottom: 0px !important; width: 40% !important;  }
    .location_section .image_col {margin-top: 0px;  height: 60vh; position: relative;}
    .location_section .mySwiper .swiper-slide-active .title {font-size: 16px !important;margin-top: 10px !important }

}
@media screen and (min-width:1430px) and (max-width:1500px){
    .location_section { padding: 10px 0 0 !important;}
    .location_section .abs_number { bottom: 10%; }
    .location_section .mySwiper .swiper-slide-active .title {font-size: 24px !important;margin-top: 20px !important }
    .location_section .image_col { height: 62vh;}
}
@media(min-width:1501px){
    .location_section {
        padding: 100px 0 0 !important;
    }
    .location_section .abs_number { bottom: 5%;}
    .location_section .abs_number .zero_img {width: 260px;}
    .location_section .swiper-scrollbar {bottom: 0 !important;}
    .location_section .swiper-pagination-fraction {bottom: 40px; position: relative;}
}
   

/* Amenity Section Desktop Responsive */


@media(min-width:1200px){
    .main_am .parallax .content {position: absolute;top: 50%;width: 22%;display: flex;flex-direction: column;right: 5%;padding: 50px 40px;border-radius: 10px;}
    .main_am .parallax .content .am-name {font-size: 26px;position: relative;padding: 0px 25px 5px;}
    /* .main_am .parallax .content .am-name::before{position: absolute;left: 0;bottom: 0;width: 100%;height: 1px ;background-color: #f4d96642;content: '';} */
    /* .main_am .parallax .content .desc {font-size: 15px;font-weight: 300;letter-spacing: 1px;line-height: 28px;} */
}
@media(min-width:1430px){
    .main_am .parallax .content {width: 28%;top: 45%;padding: 50px 40px 45px;}
}