.slide_iframe{
    width: 100%;
    height: 300px;
}
.enquiry_btn{
    position: absolute;
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    right: -50px;
}
.mail_enqiry_icon{
    width: 16px;
    transform: rotate(-90deg);
}
.btn_enquire, .btn_enquire:hover{
    background-color: var(--theme_primary_color);
    color: #000000;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    gap: 5px;
    text-transform: uppercase;
} 

.overview_card{
    background-color: #131313;
    padding: 40px 20px;
}
.micro_overview{
    margin-top: -100px;
}
.diamond_img_strip{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--theme_primary_color);
    margin-bottom: 40px;

}
.diamond_img_strip img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    background-color: #131313;
    padding: 5px;
    z-index: 99;
}

.career_page .section{
    padding-bottom: 0; 
}
.career_page img.img-fluid.supportIcon{
    filter: invert(0) !important;
}

.career_page .row_gap{
    gap: 30px 0px;
}
.job_description_content .title{
    text-align: center;
}

.enquire_form .container{
    margin: 0 !important;
}
.masterPlanImg img{
    filter:  blur(5px);
}
.masterPlanImg{
    position: relative;

}
.btn_master{
    text-transform: uppercase;
    background-color: var(--theme_primary_color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 14px;
    font-weight: 500;
}




































@media (min-width: 768px) {
/* .hero-img img{
    width: 100%;
} */

.navbar {
    &.fixed {
        background-color: #000;
        box-shadow: 0px 0px 4px #ffffff29;
    }
}
 .overview_card{
    padding: 40px;
 }

.overview_card p{
    text-align: center !important;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content li{
    max-width: 45%;
    width: 100%;

}
.price_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price_content li{
    max-width: 30%;
    width: 100%;
}
.locationMapContent .thumbnail img{
    width: 100%;
}
.left_road{
    display: none;
}

.location_map_section .location_points{
    margin-top: 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .location_map_section .location_points li:not(:last-child){
    margin-bottom: 0;
} */
.location_map_section .location_points li{
    position: relative;
}
.location_map_section .location_points li:after{
    position: absolute;
    content: '';
    width: 5px;
    height: 60px;
    background-color: transparent;
    border-left: 1px dashed var(--theme_primary_color);
    top: -60px;
    left: 30px;

}
.location_map_section {
    & .locationMapContent {
        & .location_points {
            & li {
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.top_road{
    top: 8px !important;
}
.enquire_form, .enquire_section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.enquire_section  .container{
   padding: 80px 40px;
   margin: 90px;
   background-color: black;
}
.enquire_form  .container{
   padding: 80px 40px;
   margin: 0px 90px;
   background-color: black;
}

.floor_plan_section{
    padding: 60px 0;
}

.floor_plan_section .container{
    margin-top: 40px;
}
.floor_plan_section .title{
    color: var(--theme_primary_color);
}


.section.peacock_section .content{
    text-align: center;
    margin-top: 30px;
}

.desk_price_card {
    padding: 55px 45px;
    background: rgb(11 11 11 / 95%);
    border-radius: 8px;
}
.desk_price_card .price{
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.desk_price_card .price span {
    color: var(--theme_primary_color);
    font-size: 42px;    
}
.desk_price_card .typo{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid var(--theme_primary_color);
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.desk_price_card .sizes {
    display: flex;
    justify-content: space-between;
}
.desk_price_card .sizes .size {
    margin: 0;
    letter-spacing: 2px;
    font-size: 20px;
}
.desk_price_card .sizes button {
    letter-spacing: 2px;
    font-size: 20px;
}
.desk_price_card .sizes .size span {
        color: var(--theme_primary_color);
    }
    .price_section{
        overflow: hidden;
    }
.price_section .swiper-button-prev, .price_section .swiper-button-next{
    width: 30px;
    height: 40px;
    color: #ffffff;
}

.price_section .swiper-button-prev:after, .price_section .swiper-button-next:after{
    font-size: 20px;
}
.price_section .swiper-horizontal{
    padding-bottom: 60px;
}
.price_section .swiper-button-prev{
    bottom: 10px;
        top: initial;
        right: 20px;
        left: initial;
}
.price_section .swiper-button-next{
    bottom: 10px;
    top: initial;
    right: 0px;
    left: initial;
}
.sec_title {
    margin-bottom: 30px;
}

.peacock_section .frames_content img{
    margin-left: auto;
    margin-right: auto;
}

.hero_content .content{
    flex-direction: column;
    justify-content: start;
}
.hero_content .content .starting_price{
    margin-right: auto;
}
.slide_iframe{
    width: 100%;
    height: 650px;
}

.highlights_section {
    & .content {
        & li {
            .data {
                font-size: 20px;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }
    }
}
.highlights_section {
    & .content {
        & li {
            & .data {
                .count {
                    font-size: 32px;
                    margin-bottom: -16px;
                    font-weight: 500;
                }
            }
        }
    }
}
.highlights_section {
    & .content {
        li {
            padding: 20px;
        }
    }
}
.highlights_section {
    & .content {
        border-bottom: none;
    }
}
.highlights_section {
    & .content {
        li:nth-child(5), li:nth-child(6) {
            border-bottom: 1px dashed rgb(244 217 102 / 25%);
        }
    }
    padding: 100px 0px;
}
.price_section{
    padding: 100px 0px !important;
}
.amenities_section{
    padding: 100px 0px !important   ;
}


.micro_footer .enquire_form, .micro_footer .enquire_section{
    height: 100% !important;
}


.micro_footer .enquire_form .container{
    margin: 0px 140px!important;
}


.job_description{
    padding: 0px 100px;
}


/* .section{
    padding: 100px 0px;
} */

.career_page .enquire_form .container{
    margin: 0px 90px;
}
.micro_overview .btn{
    margin-top: 45px;
}
















.slider_ppt_container{
    display: flex;
}
.slider_list{
    width: 20%;
}
.slider_preview{
    width: 80%;
    padding-left: 16px;
}












.location_map_section {
    & .locationMapContent {
        & .location_points {
            .distance {
                color: var(--theme_primary_color);
                text-transform: uppercase;
                font-size: 24px;
                border: 1px dashed var(--theme_primary_color);
                display: inline-block;
                padding: 3px 6px;
                border-radius: 3px;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
    }
}
.floor_plan_section {
    & .accordion-header {
        button {
            background: #212121;
            box-shadow: none;
            color: var(--theme_primary_color);
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1.5px;
            padding: 18px 24px;
            border-radius: 4px !important;
        }
    }
}







}

