.slide_iframe{
    width: 100%;
    height: 300px;
}
.enquiry_btn{
    position: absolute;
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    right: -50px;
}
.mail_enqiry_icon{
    width: 16px;
    transform: rotate(-90deg);
}
.btn_enquire, .btn_enquire:hover{
    background-color: var(--theme_primary_color);
    color: #000000;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    gap: 5px;
    text-transform: uppercase;
} 


@media (min-width: 768px) {
/* .hero-img img{
    width: 100%;
} */
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content li{
    max-width: 45%;
    width: 100%;

}
.price_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price_content li{
    max-width: 30%;
    width: 100%;
}
.locationMapContent .thumbnail img{
    width: 100%;
}
.left_road{
    display: none;
}

.location_map_section .location_points{
    margin-top: 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .location_map_section .location_points li:not(:last-child){
    margin-bottom: 0;
} */
.location_map_section .location_points li{
    position: relative;
}
.location_map_section .location_points li:after{
    position: absolute;
    content: '';
    width: 5px;
    height: 60px;
    background-color: transparent;
    border-left: 1px dashed var(--theme_primary_color);
    top: -60px;
    left: 30px;

}
.location_map_section {
    & .locationMapContent {
        & .location_points {
            & li {
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.top_road{
    top: 8px !important;
}
.enquire_form, .enquire_section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.enquire_section  .container{
   padding: 80px 40px;
   margin: 90px;
   background-color: black;
}
.enquire_form  .container{
   padding: 80px 40px;
   margin: 0px 90px;
   background-color: black;
}

.floor_plan_section{
    padding: 60px 0;
}

.floor_plan_section .container{
    margin-top: 40px;
}
.floor_plan_section .title{
    color: var(--theme_primary_color);
}


.section.peacock_section .content{
    text-align: center;
    margin-top: 30px;
}

.desk_price_card{
    padding: 35px 30px;
    background: rgb(11 11 11 / 89%);
    border-radius: 8px;
}
.desk_price_card .price{
    font-size: 34px;
}
.desk_price_card .price span {
    color: var(--theme_primary_color);
    font-size: 22px;    
}
.desk_price_card .typo{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--theme_primary_color);
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.desk_price_card .sizes {
    display: flex;
    justify-content: space-between;
}
.desk_price_card .sizes .size {
    margin: 0;
}
.desk_price_card .sizes .size span {
        color: var(--theme_primary_color);
    }

.price_section .swiper-button-prev, .price_section .swiper-button-next{
    width: 40px;
    height: 40px;
    color: #ffffff;
}

.price_section .swiper-button-prev:after, .price_section .swiper-button-next:after{
    font-size: 20px;
}
.price_section .swiper-horizontal{
    padding-bottom: 60px;
}
.price_section .swiper-button-prev{
    bottom: 10px;
        top: initial;
        right: 50px;
        left: initial;
}
.price_section .swiper-button-next{
    bottom: 10px;
    top: initial;
    right: 0px;
    left: initial;
}
.sec_title {
    margin-bottom: 30px;
}

.peacock_section .frames_content img{
    margin-left: auto;
    margin-right: auto;
}

.hero_content .content{
    flex-direction: column;
    justify-content: start;
}
.hero_content .content .starting_price{
    margin-right: auto;
}
.slide_iframe{
    width: 100%;
    height: 650px;
}











































.slider_ppt_container{
    display: flex;
}
.slider_list{
    width: 20%;
}
.slider_preview{
    width: 80%;
    padding-left: 16px;
}










}

