.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

section.overview_section.desktop-view .home-about-content {
  text-align: center;
  width: 45%;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px
}

section.overview_section.desktop-view .home-about-content p {
  font-size: 14px;
  width: 93%;
  line-height: 34px;
  letter-spacing: 2px;
  margin: 0 auto
}

section.overview_section.desktop-view .hero_title {
  margin-bottom: 39px;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 51px
}

section.scrollSlider-Content-2.desktop-view {
  margin-top: 100px;
}

.our_brand_section .brand_content {
  background: unset;
  border-radius: 20px;
  padding: 35px 25px
}

.our_brand_section .brand_content .single .content {
  display: grid;
}

footer .social_links.text-center input[type="email"]:focus {
  outline: none;
  border: none;
}

footer .social_links h5.title {
  text-align: right
}

.testimonial-name {
  color: var(--theme_primary_color);
  margin-top: 10px;
  font-size: 14px;
}

.single .content {
  h4.title {
    font-size: 24px !important;
  }
}

.enquire_section {
  .sec_title {
    margin-bottom: 25px;
  }
}

footer form {
  position: relative;
  margin-bottom: 30px
}

footer .social_links.text-center input[type="email"] {
  border: none;
  padding: 9px;
  border-radius: 50px;
  width: 81%;
  font-size: 14px
}

footer .social_links.text-center button.bt {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 50px;
  background-color: #f4d966;
  color: #000;
  padding: 8px 30px
}

footer .social_links.text-center button.bt .btn-arrow-img {
  width: auto;
  height: 22px;
}

.our-team-section .ourteamCard button.view-details-btn.btn.btn-primary {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  color: var(--theme_primary_color);
  font-size: 15px;
  margin-top: 10px
}

.our-team-section .ourteamCard {
  margin-bottom: 40px
}

.our-team-section h3.sec_title.title {
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--theme_primary_color);
  text-transform: uppercase
}

.our-team-section {
  padding-top: 80px;
  padding-bottom: 60px
}

.our-team-section .ourteamCard {
  display: grid;
  gap: 10px 0
}

.our-team-section .ourteamCard .person-name {
  color: var(--theme_primary_color);
  font-size: 22px;
}

.our-team-section .ourteamCard .person-post {
  color: #c1c1c1;
  font-size: 16px;
  letter-spacing: 1px
}

.our-team-section .ourteamCard button.view-details-btn.btn.btn-primary {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  color: var(--theme_primary_color);
  font-size: 13px;
  margin-top: 10px
}

.our-team-section .ourteamCard {
  margin-bottom: 40px
}

.modal .modal-dialog {
  max-width: 1000px
}

.modal-body {
  background-color: #2d2c2c
}

.modal .modal-dialog {
  max-width: 1000px
}

.modal-body {
  background-color: #2d2c2c;
  text-align: center;
  padding: 40px
}

.modal-body button.btn.btn-secondary {
  background-color: #fff;
  padding: 7px 25px;
  text-transform: uppercase;
  letter-spacing: 1px
}

.modal-body p {
  font-size: 15px;
  letter-spacing: 1px;
  text-align: justify;
  text-align-last: center;
  color: #d1d1d1
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog {
  align-items: center;
  height: 100%;
  display: flex;
}

.modal-body h4.modal_name {
  color: var(--theme_primary_color);
  margin-bottom: 19px;
}

.modal-body .modal_name {
  color: var(--theme_primary_color);
  margin-bottom: 19px
}

.modal-body {
  border-radius: 50px;
  outline: 1px dashed #f4d9667a;
  outline-offset: -17px
}

.modal-content {
  background-color: transparent
}

.modal .modal-dialog {
  max-width: 700px
}

.modal-body button.btn.btn-secondary:hover {
  color: #000;
}

.our-team-section .ourteamCard {
  margin-bottom: 40px;
  width: fit-content;
}

.our-team-section .profile-pic {
  padding: 20px;
  background-color: #2b2a2aab;
  border-radius: 10px;
}

section.section.timeline_section.pb-0 .diamond-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}

section.section.timeline_section.pb-0 .container {
  max-width: 65%
}

section.section.timeline_section.pb-0 .row {
  justify-content: center;
}

.our-team-section .row {
  justify-content: center;
}

.our-team-section .ourteamCard {
  margin: 0px auto;
}

section.our-team-section .container {
  display: grid;
  gap: 50px 0px;
}

section.our-team-section .col-lg-4.col-md-4.col-12 .ourteamCard {
  max-width: 85%;
}

img.img-fluid.headpage-icon {
  width: auto;
  height: 40px;
  margin-bottom: 20px;
}

.homeScroll-video img.frame {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

h4.title {
  font-size: 24px !important;
  padding-bottom: 30px;
}

.brand_bg {
  opacity: 0.15 !important;
}

section.section.our_brand_section .brand_bg.brand_bg-2 {
  position: absolute;
  height: unset;
  width: 49%;
  opacity: unset !important;
  z-index: 3;
  bottom: 0;
  top: unset
}

section.section.our_brand_section .container {
  position: relative;
  z-index: 3
}

footer .subscribe .form-control {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 100px
}

footer .box .subscribe button {
  background-color: var(--theme_primary_color);
  color: #000;
  border: none;
  border-radius: 100px;
  padding: 0 15px;
  width: 220px;
  margin-left: -80px;
  font-family: "InriaSerif-Regular";
  letter-spacing: .2px
}

footer .box.searchbox-input-box {
  display: flex;
  justify-content: flex-end;
  width: 100%
}

footer .subscribe {
  display: flex;
  justify-content: flex-end
}

footer .social_links.text-center ul {
  justify-content: unset !important;
  gap: 0 20px
}

footer .footer-bottom-border.container {
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 10px;
}

footer .footer-bottom-border.container .row {
  align-items: center;
}

.projects_section {
  .plane_icon {
    position: absolute;
    z-index: -1;
    top: 6%;
    left: 8%;
    width: 8%;
    opacity: 1;
    transform: rotate(90deg);
  }
}

.projects_section {
  .sec_title {
    margin-right: 28%;
  }
}

.section.media-press-release p {
  text-transform: math-auto;
}

.testimonial_section .swiper-button-prev{position:absolute;bottom:60px;left:46%;top:unset;width:40px;height:40px;border-radius:50%;background-color:#edd363;opacity:1!important}
.testimonial_section .swiper-button-next{position:absolute;bottom:60px;left:51%;top:unset;width:40px;height:40px;border-radius:50%;background-color:#edd363;opacity:1!important}
.testimonial_section .swiper-button-prev::after, .testimonial_section .swiper-button-next::after{color:#fff;font-size:16px}
.testimonial_section {padding-top: 50px!important;padding-bottom: 220px!important;}
section.section.journey_section.pb-0 { padding-bottom: 60px!important;}



.testimonial_section {& .testimonial_carousel { .swiper-pagination {    position: relative; margin-top: 9px; bottom: -57px;}}}

.philosophy_section {
  .content {
      background: unset;
      border: none !important;
      border-radius: 24px;
      padding: 30px 20px;
      border: none;
  }
  
}

.philosophy_section ul.content li {
  width: 44%!important;
}

.philosophy_section ul.content {
  flex-wrap: wrap!important;
  gap: 0px 20px;
}

.philosophy_section .content li {width: 50%!important;max-width: 50%!important;}
.flex-li-row-1{width:50%;max-width:50%;display:grid;gap:45px 0}
ul.content{align-items:center}
.philosophy_section ul.content .flex-li-row-2{width:35%;max-width:35%}
.philosophy_section ul.content li {width: 70% !important; max-width: 70% !important;}
.philosophy_section .content li p {text-align: justify;}
.philosophy_section ul.content .flex-li-row-2 ul.our-values-ul-icon li { text-align: center;color: #fff;}



@media screen and (min-width: 767px) {

  .navbar {
    & .navbar-toggler {
      .navbar-toggler-icon {
        filter: invert(1);
      }
    }
  }

  .container {
    max-width: 90%;
  }

  .projects_section .px_8.left_col.col-6 {
    display: grid;
    align-content: space-between;
  }

  .projects_section {
    & .left_col .single {

      .lazyload-wrapper,
      .an_img {
        height: 791px !important;
      }
    }
  }

  .projects_section {
    .plane_icon {
      display: none;
    }
  }

  .projects_section {
    .sec_title {
      font-size: 50px;
      margin-bottom: 43px;
      letter-spacing: 46px;
      display: grid;
      gap: 20px 0px;
      ;
    }
  }

  .projects_section {
    .sec_title {
      text-transform: uppercase;
      font-size: 48px;
      margin-bottom: 35px;
      height: 63px;
      letter-spacing: 40px;
    }
  }

  .projects_section {
    & .sec_title {
      span {
        display: block;
        font-size: 25px;
        letter-spacing: 10px;
      }
    }
  }

  h4.title {
    font-size: 24px !important;
  }

  .other_projects_section .other-project-img {
    height: 476px;
    object-fit: cover;
  }

  .other_projects_section {
    .sec_title {
      margin-bottom: 60px;
    }
  }

  .other_projects_section {
    .sec_title {
      margin-bottom: 60px;
    }
  }

  .other_projects_section .single {
    display: flex;
    flex-direction: column-reverse;
  }

  .other_projects_section .single .top {
    background-color: #131313;
    padding: 15px;
  }

  .journey_section .journey_content .plane {
    display: none;
  }

  .journey_section .journey_content .single {
    border: none;
    height: 150px;
  }

  .journey_section .journey_content::before {
    display: none;
  }

  .journey_section .journey_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 35px
  }

  .journey_section .journey_content .single {
    width: 31.3%;
    text-align: center;
    background-color: #131313;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
  }

  .journey_section .journey_content .single .title {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .journey_section .single {
    padding: 0 !important;
    padding: 30px !important
  }

  .journey_section .single.right {
    padding: 0 !important;
    padding: 30px !important
  }

  .journey_section .count {
    position: absolute;
    bottom: 35px;
    right: 0;
    font-size: 40px
  }

  .journey_section .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px
  }

  .journey_section .journey_content .single .top .icon {
    position: absolute;
    top: -9px;
    left: -9px;
    width: 70px;
  }

  .journey_section .data {
    height: 100%;
  }

  .testimonial_section .swiper-slide {
    height: 33vh;
  }

  .testimonial_section {
    & .testimonial_carousel {
      .single {
        height: 100%;
      }
    }
  }

  .testimonial_section .single {
    width: fit-content;
    margin: 0px auto;
  }

  .our_brand_section .brand_content .single {
    width: fit-content;
    margin: 0 auto;
    background: #131313;
    border-radius: 20px;
    padding: 25px 20px;
    margin: 25px;
  }

  .our_brand_section .brand_content .content h4.title {
    font-size: 18px !important
  }

  .our_team_section p {
    font-size: 27px;
    letter-spacing: 3px;
    line-height: 34px;
    width: 64%;
    font-weight: 200;
    margin: 0px auto;
  }

  .our_brand_section {
    .brand_bg {
      position: absolute;
      left: 0;
      z-index: -1;
      top: 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
      opacity: unset;
    }
  }

  .our_brand_section .brand_content .row {
    gap: 20px 0px;
  }

  .testimonial_section {
    .sec_title {
      margin-bottom: 60px;
    }
  }

  .our_brand_section .brand_content {
    padding-top: 0px;
  }

  .journey_section .journey_content .single::before {
    content: "";
    position: absolute;
    top: -22px;
    left: -22px;
    width: 180px;
    height: 180px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1
  }

  .journey_section .data {
    position: relative;
    z-index: 2
  }

  .journey_section .journey_content {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
  }

  .journey_section {
    & .journey_content {
      & .single {
        &.right {
          margin-left: unset;
        }
      }
    }
  }

  .journey_content .single {
    position: relative;
  }

  .our_brand_section .brand_content .single .content {
    display: grid
  }

  .our_brand_section .brand_content .single {
    width: fit-content;
    margin: 0 auto;
    padding: 33px 45px;
    margin: 24px;
  }

  footer .important_links {
    width: 33.3%;
    text-align: left !important;
    border-top: none;
  }

  footer .contact_details {
    width: 33.3%;
    border-top: none;
    border-right: 1px solid #616161;
  }

  footer .social_links {
    width: 33.3%;
    border-top: none;
  }

  footer .disclaimer {
    width: 50%;
    border-top: none;
    text-align: left !important;
  }

  footer .copyright {
    width: 50%;
    text-align: right;
    border-top: none;
  }

  footer .important_links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 8px 0px;
  }

  footer .important_links ul li {
    width: 47%;
  }

  footer .title {
    margin-bottom: 32px;
  }

  footer .flex-bottom-border {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 30px;
  }

  footer .contact_details ul {
    display: grid;
    gap: 19px 0;
    color: #fff;
    width: 75%;
    margin: 0px auto;
  }

  footer {
    position: relative
  }

  footer::after {
    content: "";
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #111;
    z-index: -1
  }

  footer {
    & .important_links {
      & ul {
        & li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  footer {
    & .contact_details {
      & li {
        a {
          color: #dbd6d6;
          font-size: 14px;
        }
      }
    }
  }

  footer p {
    font-size: 14px;
    color: #dbd6d6;
  }

  footer {
    & .social_links {
      & ul {
        display: flex;
        justify-content: end;
      }
    }
  }

  .flex-footer-form {
    display: flex;
    flex-wrap: wrap
  }

  .flex-footer-form section.section.enquire_section {
    width: 50%
  }

  .flex-footer-form section.section.enquire_form {
    width: 50%
  }

  .enquire_form .container {
    padding: 50px 40px !important;
    margin: 0px 180px !important;
  }

  .enquire_section {
    .enquire_bg {
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      opacity: 0.2;
      z-index: -1;
    }
  }

  .enquire_section .container {
    padding: 170px 40px !important;
    margin: 120px !important;
    background-color: #000000;
    display: block;
    position: relative;
    z-index: 1;
  }

  footer {
    padding-top: 25px;
    margin-top: 50px;
  }

  .enquire_form,
  .enquire_section {
    height: unset !important;
  }

  .our_brand_section {
    & .brand_content {
      .single_col:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  .micro_content {
    position: relative;
    margin-top: unset;
    background: transparent;
    z-index: 1;
  }

  .micro_data {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    padding-top: 20px;
    background: #000
  }

  section.section.about_overview.pb-0 {
    padding-top: 0px;
  }

  .about_overview {
    p {
      text-align: center;
    }
  }

  .enquire_section {
    .enquire_bg {
      left: 0;
      top: 0;
      opacity: 1;
    }

    z-index:1;
    filter:brightness(5);
  }

  /* 
    section.section.micro_banner::after { content: "";  position: absolute;top: 124%; left: 50%; width: 600px; height: 600px;border-radius: 50%; background-color: #010000; transform: translate(-50%, -50%);} */

  .about_overview {
    .content_col {
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  .philosophy_section .content {
    justify-content: center;
    align-items: baseline;
    justify-content: space-between
  }

  .timeline_section {
    padding-bottom: 60px !important
  }

  .philosophy_section .content li:last-child {
    margin: 0 auto
  }

  .philosophy_section .content li li:last-child {
    margin: unset
  }

  section.section.about_overview.pb-0 .about_bg {
    display: none;
  }

  ul.timeline_content .content {
    display: block;
  }

  section.section.timeline_section.pb-0 .container {
    max-width: 65%;
  }

  .timeline_section {
    & .timeline_content {
      & .single {
        & .thumbnail {
          img {
            height: 110px;
            width: 110px;
          }
        }
      }
    }
  }

  .page-header-main-heading {
    max-width: 88%;
    background-color: #131313;
    margin: 0px auto;
    transform: translate(0px, -100px);
    border-radius: 14px;
    padding: 51px;
  }

  p {
    font-size: 17px;
  }

  .sec_title {
    &.style1 {
      .title {
        line-height: 38px;
      }
    }
  }

  .contact-us-section span.icon {
    position: unset !important;
    transform: unset !important;
    opacity: 1 !important;
    margin-right: 20px
  }

  .contact-us-section ul.contact_details {
    display: flex;
    align-items: center;
    gap: 30px 0;
    justify-content: space-between;
    border-top: 1px solid #f4d96669;
    border-bottom: 1px solid #f4d96669;
    margin-top: 30px
  }

  .contact-us-section li {
    gap: 20px 0;
    display: flex;
    justify-content: space-between
  }

  .section.peacock_section.pb-0 {
    padding-top: 0px;
  }

  .journey_section .journey_content .single::before {
    top: -26px;
    left: -24px;
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1;
  }

  section.overview_section.desktop-view .home-about-content {
    width: 55%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  section.overview_section.desktop-view .hero_title {
    margin-bottom: 39px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 39px;
  }

  section.overview_section.desktop-view .home-about-content p {
    font-size: 14px;
    width: 99%;
    line-height: 26px;
    letter-spacing: 1px;
    margin: 0 auto;
    color: #c1c2c1;
  }

  .testimonial_section .swiper-slide {
    height: 44vh;
  }

  .excited-to-meet-us .title::after {
    display: none;
  }

  .swiper-slide .single {
    border-top: 5px solid rgba(244, 217, 102, 0.5);
  }

  .our_brand_section {
    & .brand_content {
      .single {
        display: grid;
        justify-content: center;
        text-align: center;
        width: 100% !important;
      }
    }
  }

  .our_brand_section {
    & .brand_content {
      & .single {
        .content {
          width: 100%;
          text-align: center;
        }
      }
    }

    .our_brand_section {
      & .brand_content {
        & .single {
          .icon {
            height: 60px;
            width: 60px;
            margin-right: 20px;
            border-radius: 8px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px auto;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .enquire_section .container {
    padding: 140px 40px !important;
    margin: 70px !important;
  }

  footer {
    padding-top: 10px;
    margin-top: 50px;
  }

  .projects_section {
    .sec_title {
      font-size: 34px;
      margin-bottom: 30px;
      height: 63px;
      letter-spacing: 10px;
      margin-left: auto;
    }
  }

    .philosophy_section .content h4.title { margin: unset!important;   width: 100%; margin-bottom: 22px!important;}
    .philosophy_section .content h4.title::after {display: none;}
    .philosophy_section .content li:last-child {margin: unset; }
    .philosophy_section  .content li li {max-width: 100%!important;width: 100%!important;}
    .philosophy_section .content h4.title { margin-bottom: 22px !important; letter-spacing: 1.2px;}
    .philosophy_section {.content {border-radius: 8px; padding: 50px 60px;  border: 1px solid rgb(244 217 102 / 15%);}}
    .philosophy_section ul.content{justify-content:space-between;width:100%;display:flex}
    .philosophy_section .content li:last-child{margin:unset}
    .philosophy_section .content li li{max-width:100%!important;width:100%!important}
    .philosophy_section .content li p { color: #d5d5d5;}
    .philosophy_section .content li li { color: #d5d5d5;}
    .awa_posted a {font-size: 14px; margin-top: 5px;}
    .awa_card div:last-child {  flex-basis: 65%; padding: 20px 20px;}
    .media-news_online {padding: 30px 13%;height: 100%;}
    .gallery_slider .swiper-horizontal {padding-bottom: 120px;}
    .gallery_slider .swiper-button-prev:after, .gallery_slider .swiper-button-next:after {font-size: 14px;}
    .media-press-release p {font-size: 14px; line-height: 26px;letter-spacing: 1px; margin: 0 auto; color: #c1c2c1; font-weight: unset;}
    section.section.media-gallery {padding-top: 0px;}
    section.section.media-gallery { padding-top: 30px; }
    section#press-center { padding-top: 40px;    padding-bottom: 50px;}
    section.section.media-press-release.pb-0 { padding-top: 100px;}
    section.section.media-press-release.pb-0 h4.title {margin-bottom: 30px!important;display: block;}

    .media-news_offline {  padding: 33px 15%;}
    .awa_card p {font-size: 15px;}
    .projects_section {.plane_icon {   display: block; }}
    section.overview_section {padding-top: 50px;padding-bottom: 50px;}
    .overview_section .hero_title{text-align:center;display:table;padding-bottom:3px;margin-bottom:3px;margin-left:auto;margin-right:auto;font-size:24px!important;color:var(--theme_primary_color);text-transform:uppercase;letter-spacing:1px;margin-bottom:30px}
    section.section.micro_hero_section.p-0 .frame { width: 100%;   height: 100vh;object-fit: cover;}
    .micro_hero_section .frame{width:100%;height:100vh;object-fit:cover}
    .micro_hero_section .frames_content{height:100vh!important;min-height:100vh!important}
    .micro_hero_section .pin-spacer{height:fit-content!important}
    section.overview_section{padding-top:50px;padding-bottom:70px}
    .home-about-content p{font-size:15px;text-align:center;letter-spacing:1px}
    .home-about-content{text-align:center;padding-left:150px;padding-right:150px}
    section.overview_section .headingIcon{width:auto;height:50px;margin:0 auto;margin-bottom:20px}

    .our_team_section p {font-size: 15px!important;}
    .menus .menuFlexBox{gap:10px;width:33%}
    .menus .menus{display:flex;flex-wrap:wrap;justify-content:space-between}
    .menus .sub_menu{width:100%}
    ul.menus { display: flex;  flex-wrap: wrap;justify-content: space-between;}
    .navbar {& .navbar_collapse {  & .menus {.sub_menu { background: transparent; }}}}
    ul.menus li.menuFlexBox ul {display: grid;justify-content: center;}
    .menuFlexBox.middle-menu { border-left: 1px solid #d6bf71; border-right: 1px solid #d6bf71;}
    .navbar { & .navbar_collapse {.menus { height: unset;}}}
    ul.menus a.active {text-align: center;width: 100%;}
    ul.menus li.nav-link { text-align: center;}

  .render_section { .slides {.renders-images {gap: 0 26px;}} }
  div#basic-navbar-nav ul li a {font-size: 15px!important;letter-spacing: 1px;}
 .navbar {& .navbar_collapse { & .menus {  & .sub_menu {.nav-link { margin-bottom: 5px; }} }}}
    /* span.logo.navbar-brand {position: absolute;left: 50%;top: 40px;} */
  ul.social_links { justify-content: center; margin-top: 20px;}
  ul.sub_menu li label {text-align: center;}
  ul.menus {padding-top: 5%;}
  a.new-launch { display: flex;gap: 0px 31px;}

  .navbar { & .navbar_collapse { & .menus { & .sub_menu { a {  display: block; margin-bottom: 15px; } }}}}
  .navbar {& .navbar_collapse {& .menus { .nav-link {  margin-bottom: 15px; }}}}

  .home-about-content {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:250px;
    padding-right:250px;
  }
  .testimonial_section .swiper-button-next {
    position: absolute;
    bottom: 60px;
    left: 64%;
    top: unset;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #edd363;
    opacity: 1 !important;
}
.testimonial_section {
  padding-top: 50px !important;
  padding-bottom: 128px !important;
}

.philosophy_section.pb-0 {padding-top: 10px;margin-top: 50px;}
.philosophy_section.pb-0 .container { padding-top: 30px;}

.philosophy_section ul.our-values-ul-icon {display: flex; flex-wrap: wrap;}
.philosophy_section ul.content .flex-li-row-2 ul.our-values-ul-icon li {width: 50%!important;max-width: 50%!important;}
.philosophy_section ul.content {justify-content: space-between;width: 100%; display: flex;gap: unset !important;}
.philosophy_section .content li:last-child {margin: unset; max-width: 100% !important;width: 100% !important;}
.philosophy_section ul.our-values-ul-icon {display: flex;flex-wrap: wrap;justify-content: space-between;width: 100%;gap: 10px 0px;}
.philosophy_section ul.content li {width: unset !important; max-width: unset !important;}
.philosophy_section {.content { padding: 0;}}
.philosophy_section ul.content .flex-li-row-2 ul.our-values-ul-icon li{text-align:center;justify-content:center;color:#fff}
ul.our-values-ul-icon{margin-top:30px;gap:30px 0!important}
.philosophy_section ul.content .values-ul-icon{width:auto;height:60px;margin:0 auto;margin-bottom:30px;}
.philosophy_section ul.content .flex-li-row-2 ul.our-values-ul-icon li{display:grid;justify-content:center;text-align:center}

.testimonial_section .swiper-button-prev {bottom: 60px; left: 44%;}
.testimonial_section .swiper-button-next { bottom: 60px; left: 53%; top: unset;}
.testimonial_section { & .testimonial_carousel {.swiper-pagination {  position: relative; margin-top: 9px;   bottom: -20px; } }}
.testimonial_section {& .testimonial_carousel { .swiper-pagination {   bottom: -20px; }}}
section.section.media-press-release.pb-0 h4.title {
  margin-bottom: 30px !important;
  display: block;
  width: fit-content;
  margin: 0px auto;
}



}

.media-event-content .event-video-banner {
  width: 94%;
  height: 436px;
  object-fit: cover;
  margin: 0px auto;
  display: block;
}

/* -------------------------------------------------------------------------------------MIN WIDTH 768px END ------------------------------------------- */



.projects_section {
  .plane_icon {
      position: absolute;
      z-index: -1;
      top: 6%;
      left: 6%;
      width: 8%;
      opacity: 1;
      transform: rotate(00deg);
  }
}

.media_content_heading {font-size: 17px;font-weight: unset;}
.media_content_heading { font-size: 17px; }

.headingIcon {
  width: auto;
  height: 51px;
  margin: 0px auto;
  margin-bottom: 15px;
}

.our_team_section p {
  font-size: 14px;
  width: 50%;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 0 auto;
  color: #c1c2c1;
  font-weight: unset
}

.our_brand_section .brand_content .single h4.title::after {
  display: none
}

section.section.our_brand_section .brand_content {
  padding-bottom: 0 !important
}

.our_team_section {
  .sec_title {
    margin-bottom: 40px;
  }
}

.our_brand_section .inner-ethos {
  width: 48%;
  margin-left: auto;
}

.our_brand_section .inner-ethos .box {
  display: flex;
  background-color: #222;
  border-left: 2px solid var(--golden);
  margin-bottom: 20px
}

.our_brand_section .inner-ethos .box .content h4.title::after {
  display: none;
}

.our_brand_section .inner-ethos .box .content h4.title::after {
  display: none
}

.our_brand_section .box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  border-left: 1px solid #f4d966
}

.our_brand_section .icon {
  width: 15%
}

.our_brand_section .content {
  width: 80%;
  text-align: left !important
}

.our_brand_section h4.title {
  margin: unset !important;
  margin-bottom: 10px !important;
  padding-bottom: 0
}

.our_brand_section p {
  margin-bottom: 0
}

.our_brand_section .brand_content .content h4.title {
  color: #e6cc60;
  font-size: 23px !important;
}

.our_brand_section p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 0 auto;
  color: #c1c2c1;
  font-weight: unset
}


section.section.enquire_section p {
  unicode-bidi: unset;
  font-weight: 100;
  letter-spacing: 1px;
  color: #adadad;
}

.our_brand_section .icon .img-fluid {
  width: auto;
  height: 70px;
}

footer {
  background-color: #111;
}

section.section.our_brand_section .sec_title.text-center.color.style1 {
  width: fit-content;
  margin: 0px auto;
  margin-bottom: 50px;
}

.testimonial_section {
  padding-top: 60px;
  padding-bottom: 150px;
}

footer .flex-bottom-border {
  display: block;
  width: 100%;
  text-align: center
}

footer .disclaimer {
  width: 100% !important;
  text-align: center !important
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer {
  & .copyright {
    span {
      display: inline;
    }
  }
}



footer {
  & .copyright {
    span a {
      color: var(--theme_primary_color);
    }
  }
}

footer {
  & .copyright {
    span {
      display: inline;
    }
  }
}


.box.searchbox-input-box {
  display: flex;
  justify-content: flex-end;
}

.subscribe {
  display: flex;
  justify-content: flex-end;
}

.our_team_section {
  .sec_title {
    margin-bottom: 60px;
  }
}

footer .flex-row {display: flex;flex-wrap: wrap;width: 100%;justify-content: space-between;}
footer .flex-row .custom-col {width: 33%;}
footer .footerM{width:110px;margin:0 auto;text-align:center;display:block}
footer .footer-bottom-border.container{margin-bottom:53px}
footer p{display:flex;padding-bottom:15px;align-items:baseline;line-height:28px}
footer .flex-row .custom-col span{margin-right:10px;font-size:16px;letter-spacing:.4px;vertical-align:baseline;color:var(--theme_primary_color)}
footer{position:relative}
footer .about_bg{position:absolute;top:0;left:0;width:100%;height:100%;}
footer .footer-bottom-border{position:relative;z-index:3;}
footer .container{position:relative;z-index:3}
footer .about_bg{opacity:.1}
footer .container{position:relative;z-index:3}
footer .about_bg{opacity:.1}
footer .main-pera{display:flex;justify-content:center;gap:0 6px}
footer .main-pera a b{color:var(--theme_primary_color)}
footer .main-pera a{color:var(--theme_primary_color)}
footer .main-pera{display:flex;justify-content:center;gap:0 6px;margin-bottom:0;line-height:unset}
footer .inner-box{display:flex;flex-wrap:wrap;justify-content:space-between;width: 75%;margin-left: auto;}
footer .footer-menu ul{gap:7px 30px;display:grid}
footer .footer-menu ul li a{color:#c7c7c7;font-size:15px}
footer .border-top-footer{width:100%;border-top:1px solid #ffffff29;padding-top:27px;padding-bottom:10px}
footer .border-top-footer{width:100%;border-top:1px solid #ffffff29;padding-top:27px;padding-bottom:10px}
footer .footer-second-heading{margin-bottom:30px;font-size:20px;color:var(--theme_primary_color)}
footer .inner-box{display:flex;flex-wrap:wrap;justify-content:space-between}
footer .border-top-footer{width:100%;border-top:1px solid #ffffff29;padding-top:27px;padding-bottom:10px}
footer .address-details, footer .phone-details, footer .mail-details{line-height:unset;padding-bottom:0;margin-bottom:20px}
footer .flex-row { margin-bottom: 50px;}
footer .custom-col.flex-middel-col {display: flex;align-items: center;}
footer .box.office-details-box {width: 100%;}
.journey_section .about_bg{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;opacity:0.20}
section.section.other_projects_section.pb-0 {padding-top: 20px;}
.testimonial_carousel .single .testimonial-pic{width:60px;margin-bottom:20px;margin-top:10px;border:1px solid #fff;border-radius:50%;height:60px;object-fit:contain}
.flex-name-pic{display:flex;align-items:center;justify-content:space-between;width:100%}
.testimonial_section {& .testimonial_carousel {  .single {  height: 350px; }}}
.testimonial_section .content{height:100%}
.testimonial_section .flex-content-box{height:80%}
.testimonial_section .flex-heading-row {display: flex;align-items: center;margin-bottom: 15px;}
.testimonial_section {padding-top: 50px; padding-bottom: 100px;}
footer {padding-top: 10px; margin-top: 50px;}
.projects_section .mx_-8.row{gap:0 0;justify-content:space-between}
.projects_section .px_8.left_col.col-6{width:49.5%}
.projects_section .px_8.right_col.col-6{display:grid;gap:10px 0}
.navbar { & .navbar-toggler {  .icon {  width: 80%;}}}
.projects_section  .sec_title  span {color: var(--theme_primary_color); font-size: 24px !important; padding-bottom: 30px!important; letter-spacing: 1px!important;}

footer .flex-row .custom-col {
  width: 33%;
}

footer .footerM {
  width: 110px;
  margin: 0 auto;
  text-align: center;
  display: block
}

footer .footer-bottom-border.container {
  margin-bottom: 53px
}

footer p {
  display: flex;
  padding-bottom: 15px;
  align-items: baseline;
  line-height: 28px
}

footer .flex-row .custom-col span {
  margin-right: 10px;
  font-size: 16px;
  letter-spacing: .4px;
  vertical-align: baseline;
  color: var(--theme_primary_color)
}

footer {
  position: relative
}

footer .about_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .footer-bottom-border {
  position: relative;
  z-index: 3;
}

footer .container {
  position: relative;
  z-index: 3
}

footer .about_bg {
  opacity: .1
}

footer .container {
  position: relative;
  z-index: 3
}

footer .about_bg {
  opacity: .1
}

footer .main-pera {
  display: flex;
  justify-content: center;
  gap: 0 6px
}

footer .main-pera a b {
  color: var(--theme_primary_color)
}

footer .main-pera a {
  color: var(--theme_primary_color)
}

footer .main-pera {
  display: flex;
  justify-content: center;
  gap: 0 6px;
  margin-bottom: 0;
  line-height: unset
}

footer .inner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin-left: auto;
}

footer .footer-menu ul {
  gap: 7px 30px;
  display: grid
}

footer .footer-menu ul li a {
  color: #7b7b7b;
  font-size: 15px
}

footer .border-top-footer {
  width: 100%;
  border-top: 1px solid #ffffff29;
  padding-top: 27px;
  padding-bottom: 10px
}

footer .border-top-footer {
  width: 100%;
  border-top: 1px solid #ffffff29;
  padding-top: 27px;
  padding-bottom: 10px
}

footer .footer-second-heading {
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--theme_primary_color)
}

footer .inner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

footer .border-top-footer {
  width: 100%;
  border-top: 1px solid #ffffff29;
  padding-top: 27px;
  padding-bottom: 10px
}

footer .address-details,
footer .phone-details,
footer .mail-details {
  line-height: unset;
  padding-bottom: 0;
  margin-bottom: 20px
}

footer .flex-row {
  margin-bottom: 50px;
}

footer .custom-col.flex-middel-col {
  display: flex;
  align-items: center;
}

footer .box.office-details-box {
  width: 100%;
}

.journey_section .about_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .20;
}

section.section.other_projects_section.pb-0 {
  padding-top: 20px;
}

.testimonial_carousel .single .testimonial-pic {
  width: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 60px;
  object-fit: contain
}

.flex-name-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.testimonial_section {
  & .testimonial_carousel {
    .single {
      height: 350px;
    }
  }
}

.testimonial_section .content {
  height: 100%
}

.testimonial_section .flex-content-box {
  height: 80%
}

.testimonial_section .flex-heading-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.testimonial_section {
  padding-top: 50px;
  padding-bottom: 150px;
}

footer {
  padding-top: 10px;
  margin-top: 50px;
}

.projects_section .mx_-8.row {
  gap: 0 0;
  justify-content: space-between
}

.projects_section .px_8.left_col.col-6 {
  width: 49.5%
}

.projects_section .px_8.right_col.col-6 {
  display: grid;
  gap: 10px 0
}

.navbar {
  & .navbar-toggler {
    .icon {
      width: 80%;
    }
  }
}

.projects_section .sec_title span {
  color: var(--theme_primary_color);
  font-size: 24px !important;
  padding-bottom: 30px !important;
  letter-spacing: 1px !important;
}

footer .address-details, footer .phone-details, footer .mail-details {
  color: #9b9a9a;
}


.press-releases-container .swiper-button-prev, .press-releases-container .swiper-button-next {
  height: 40px;
  width: 40px;
  background-color: var(--theme_primary_color);
  border-radius: 50%;
  top: 100%;
}
.press-releases-container .swiper-button-next {right: 65%;}
.press-releases-container  .swiper-button-next:after, .press-releases-container  .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: #fff;
  font-size: 18px;

}
.press-releases-container .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: #fff;
  font-size: 18px;
}

.press-releases-container  .swiper-horizontal {padding-bottom: 120px;}
/* .press_release_slider .pressRelease-Img {height: 380px; object-fit: cover;} */
.press_release_slider .thumbnail {width: 87%;}
section.section.press-releases-container {padding-bottom: 0px;}
section.section.press-releases-container  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {padding-bottom: 70px;}
article.awa_card.awa_shadow p {text-align: left;}
article.awa_card.awa_shadow p.text-capitalize { color: var(--theme_primary_color);cursor: pointer;}

h4.title::after{position:absolute;content:"";background-color:#d6bf5a59;width:70px;height:70px;top:-17px;left:-25px;border-radius:100px;z-index:-1}
.sec_title.text-center.color.style1{position:relative;width:fit-content;margin:0 auto;margin-bottom:40px}
.sec_title.text-center.color.style2{width:fit-content;margin:0 auto;margin-bottom:40px}
.testimonial_section .flex-content-box::after {display:none;}
h4.title {
  font-size: 24px !important;
  padding-bottom: 30px;
  position: relative;
}
/* Adarsh */

.blog_page .blog-detail-page-heading {
  font-size: 28px;
  letter-spacing: 1px;
  padding: 15px 0;
}
.blog_page .blog-deatail-page-description{    font-size: 14px;line-height: 26px;font-weight: 300;letter-spacing: 1px;}





@media(max-width:1600px) {

  .media-event-content .event-video-banner {
    width: 94%;
    height: 352px;
    object-fit: cover;
    margin: 0px auto;
    display: block;
}

  .enquire_form .container {
    padding: 50px 40px !important;
    margin: 0px 115px !important;
  }

  p {
    font-size: 15px;
  }

  .timeline_section {
    & .timeline_content {
      & .single {
        & .thumbnail {
          img {
            height: 110px;
            width: 110px;
          }
        }
      }
    }
  }

  .projects_section {
    & .left_col .single {

      .lazyload-wrapper,
      .an_img {
        height: 584px !important;
      }
    }
  }

  .projects_section {
    .sec_title {
      height: unset !important;
    }
  }

  .projects_section {
    .sec_title {
      text-transform: uppercase;
      font-size: 41px;
      margin-bottom: 30px;
      height: 63px;
      letter-spacing: 35px;
    }
  }

  footer .important_links ul li {
    width: 46%;
  }

  .our_team_section h4.title {
    margin-bottom: 0px;
    line-height: 0;
    padding-bottom: 0px;
  }

  .other_projects_section .other-project-img {
    height: 350px;
    object-fit: cover;
  }

  .other_projects_section .sec_title.text-center.color.style1 {
    margin-bottom: 15px;
  }

  h4.title {
    font-size: 24px !important;
    padding-bottom: 30px;
  }

  h4.title {
    position: relative;
    width: fit-content;
    margin: 0 auto !important;
    display: block
  }

  h4.title::after {
    position: absolute;
    content: "";
    background-color: #d6bf5a59;
    width: 70px;
    height: 70px;
    top: -17px;
    left: -25px;
    border-radius: 100px;
    z-index: -1
  }

  .sec_title.text-center.color.style2 {
    text-align: center
  }

  .excited-to-meet-us .title::after {
    display: none;
  }

  .our_team_section p {
    margin-top: 40px;
  }

  .projects_section {
    .sec_title {
      text-transform: uppercase;
      font-size: 37px;
      margin-bottom: 0;
      height: 63px;
      letter-spacing: 12px;
    }
  }


  .career_page .career_para {
    letter-spacing: 0.8px;
    line-height: 32px;
    font-weight: 300;
  }
  .press-releases-container .swiper-button-prev, .press-releases-container .swiper-button-next {
    top: 88%;
}
/* .press_release_slider .pressRelease-Img {height: 307px!important; object-fit: cover;object-position: left;} */
.press_release_slider .thumbnail {
  width: 87%!important;
}

 
}
/*---------------------------- Media Query 1600 Max END--------------------------------------- */
section.section.other_projects_section.pb-0 {
  padding-bottom: 40px!important;
}

.main_am {
  .content {
      background: #000;
      margin: auto;
      max-width: calc(100% - 0px);
      text-align: center;
      padding: 20px;
      border-radius: 0;
      color: #fff;
  }
}
.main_am {
  .desc {
      margin: 0;
      color: #ffffff;
      line-height: 20px;
      margin-top: 10px;
  }
}


.main_am .content {
  position: absolute;
  top: 0;
  width: 100%;
}

.amenities-container{display:none;}
.main_am .content {
  padding-top: 40px;
  padding-bottom: 50px;
}

.navbar .call_btn img {
  width: 14px;
}
.navbar .call_btn {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border: 1px solid #8b8b8b;
  border-radius: 100%;
  display: flex
;
  align-items: center;
  justify-content: center;
}


.about_overview p {color: #cec7c7;}
.career_page .career_para{margin-bottom:20px;}


.blog_page .blog-deatail-page-description {text-align: justify;}
.blog_page .col-sm-12.col-md-4.col-lg-4 .row { display: flex;  justify-content: center; text-align: center;}
.blog_page h3 { font-size: 24px; margin-bottom: 20px;}
.blog-platter-detail {padding: 15px;}
.blog-platter-box {margin-bottom: 30px;}
nav.null.navbar.navbar-expand-false.navbar-light .right {width: 150px; display: flex;align-items: center; margin-left: auto;justify-content: end;}
.navbar .call_btn { height: 40px;width: 40px;}



@media(max-width:767px) {


  .desktop-view {
    display: none !important;
  }

  .mobile-view {
    display: block !important;
  }

  .navbar {
    position: fixed;
    width: 100%;
    padding: 15px 5px;
    z-index: 99;
    transition: all 0.3s ease-in-out;

    .navbar-brand {
      padding: 0;
      margin: 0;

      img {
        max-width: 50px;
        transition: all 0.3s ease-in-out;
      }
    }

    &.fixed {
      background: #000;
      padding: 10px 5px;

      img {
        max-width: 55px;
      }
    }
  }

  .projects_section {

    .sec_title {
      text-transform: uppercase;
      font-size: 32px;
      margin-bottom: 35px;
      height: 63px;
      letter-spacing: 3px;

      span {
        display: block;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }

  .our_brand_section {
    .brand_content {
      background: #131313;
      border-radius: 20px;
      padding: 35px 25px;
    }
  }

  .our_brand_section {
    .brand_bg {
      position: absolute;
      left: 0;
      z-index: -1;
      top: 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
      opacity: 0.2;
    }
  }

  .journey_section {
    & .journey_content {
      & .single {
        &.right {
          text-align: left;
          padding: 10px 0px 5px 20px;
          margin-left: auto;
        }
      }
    }
  }

  .journey_section {
    & .journey_content {
      .right {
        .top {
          display: flex;
          align-items: flex-end;
          justify-content: unset;
          gap: 10px;
        }
      }
    }
  }

  footer {
    & .important_links {
      & ul {
        & li {
          a {
            font-size: 12px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  .enquire_section {
    .enquire_bg {
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      opacity: 0.2;
    }
  }

  footer .social_links.text-center input[type="email"] {
    width: 100%;
  }

  .micro_content {
    position: relative;
    margin-top: -210px;
    background: transparent;
    z-index: 1;

    &:before {
      /* position: absolute; */
      content: '';
      background: #131313;
      top: -160px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1000px;
      z-index: 1;
    }

    .micro_data {
      border-top-left-radius: 1000px !important;
      border-top-right-radius: 1000px !important;
      padding-top: 20px;
      overflow: hidden;
      background: #000;
    }
  }

  .about_overview {
    .img_col {
      left: 0px !important;
    }
  }

  .micro_content {
    position: relative;
    margin-top: -210px;
    background: transparent;
    z-index: 1;

    &:before {
      /* position: absolute; */
      content: '';
      background: #131313;
      top: -160px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1000px;
      z-index: 1;
    }

    .micro_data {
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      padding-top: 20px;
      overflow: hidden;
      background: #000;
    }
  }

  .contact_details {
    display: grid;

    li {
      text-align: center;
      color: #fff;
      font-size: 18px;
      margin: 15px 0;
      display: block;
      position: relative;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-align: center;
        color: #fff;
        font-size: 18px;
      }

      .icon {
        position: absolute;
        content: '';
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        top: 50%;
        z-index: 0;
        border: 1px dashed var(--theme_primary_color);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.2;

        img {
          width: 30px;
        }
      }
    }
  }

  .enquire_form .container {
    padding: 0px 40px !important;
    margin: 0px 0px !important;
  }

  section.section.about_overview.pb-0 .about_bg {
    display: block;
  }

  section.section.timeline_section.pb-0 .container {
    max-width: 100%;
  }

  .cardContent {
    margin-bottom: 29px;
    padding-top: 10px;
  }

  section.our-team-section .container {
    display: grid;
    gap: 20px 0px;
  }

  section.our-team-section .col-lg-4.col-md-4.col-12 .ourteamCard {
    max-width: 100%;
  }

  .our-team-section .ourteamCard {
    margin-bottom: 40px;
    width: 100%;
  }

  .profile-pic img.img-fluid {
    width: 100%;
  }

  .our-team-section .ourteamCard {
    margin-bottom: 1px;
    width: 100%;
  }

.section.peacock_section.pb-0.homeScroll-video {padding-top: 0px;}

.projects_section {& .left_col .single {.lazyload-wrapper, .an_img { height: calc(100% - 46px) !important; }}}

.projects_section .sec_title span {font-size: 16px !important; padding-bottom: 20px !important;letter-spacing: 1px !important;}
.projects_section {.sec_title { font-size: 22px;  margin-bottom: 0;height: 63px;letter-spacing: 3px; margin-top: 85px;} }
.projects_section {.plane_icon {  position: absolute;   z-index: -1; top: 9%;left: 8%;width: 24%;  opacity: 1;transform: rotate(180deg); }}
.projects_section {.sec_title { font-size: 17px; margin-bottom: 0;  height: 63px;letter-spacing: 3px; margin-top: 124px;}}
.projects_section .sec_title span {font-size: 15px !important;padding-bottom: 20px !important;letter-spacing: 1px !important;padding-top: 8px;}
h4.title {font-size: 18px !important;padding-bottom: 30px;}
.our_brand_section .inner-ethos { width: 100%; margin-left: auto;}
.our_brand_section .brand_content .content h4.title {font-size: 18px !important;}
.our_brand_section .box-flex {padding: 15px;}
.our_brand_section .icon .img-fluid {height: 47px;}
section.section.our_brand_section .brand_bg.brand_bg-2 { display: none;}
section.section.our_team_section { padding-bottom: 17px;}
.our_team_section p {width: 100%;}
.testimonial_section { padding-top: 40px; padding-bottom: 40px;}
section.section.testimonial_section .swiper-slide {background-color: unset;}
.testimonial_section {& .testimonial_carousel {.single {padding: 20px 20px; }}}
.single .content {h4.title { font-size: 20px !important;}}
.testimonial_section .flex-content-box {height: auto;padding-bottom: 10px;}
footer .custom-col.flex-middel-col {display: none;}
footer .flex-row .custom-col {width: 100%;}
footer .inner-box {width: 100%;}
footer .main-pera { display: block;}
p.main-pera {  font-size: 13px;}
section.section.enquire_section p {color: #dbcfcf; font-weight: 100;font-family: 'Futura_Bt_medium';font-size: 17px;}
.modal-body p { font-size: 14px; letter-spacing: 0.5px; color: #d1d1d1;}
.modal-body {padding: 15px;}
.modal-body {border-radius: 15px; outline: 1px dashed #f4d9667a;outline-offset: -6px;}
.philosophy_section .content p {font-size: 14px; letter-spacing: 1px; text-align: center; color: #cec7c7;}
.philosophy_section .content h4.title::after{display:none};
.philosophy_section  .content h4.title { margin-bottom: 25px!important;}
.philosophy_section {& .content {  .title {  margin-bottom: 20px !important; }}}
.philosophy_section li { text-align: center;}
.philosophy_section {.content  ul {display: grid;justify-content: center;gap: 5px 0px;}}

.projects_section .plane_icon { display: block;}
.swiper-slide img { display: block;  width: 100%; height: 330px;  object-fit: cover; object-fit: contain;}
.media-news_offline { padding: 40px 20px;}
.media-news_online{padding-bottom:20px}
section#press-center{padding-top:25px}
.section.media-press-release p{font-size:14px;margin-top:20px;letter-spacing:1px}
.press-release .inner-press-re .logo-sec .inner-logo-sec .inner-box .logo {width: 80px;}
.press-release .inner-press-re .logo-sec .inner-logo-sec .inner-box .type { width: calc(100% - 110px);}
.press-release .inner-press-re .logo-sec .inner-logo-sec .box .inner-box ul li a { font-size: 14px;padding-left: 15px;}
section.section.media-gallery .swiper-slide img {object-fit: cover;margin-bottom: 36px;}
section#press-center { padding-bottom: 25px;}
section.section.media-gallery {padding-bottom: 20px;}
.projects_section { .plane_icon {   position: absolute;  z-index: -1; top: 9%; left: 5%;  width: 22%;  opacity: 0.4; transform: rotate(0deg); }}
.other_projects_section .other-project-img {height: 150px;border-radius: 10px;}
.testimonial_section { & .testimonial_carousel { .single { height: auto;}}}
.testimonial_section .flex-heading-row {display: flex;align-items: center;margin-bottom: 15px;height: 53px;padding-top: 14px;}
.testimonial_carousel .single .testimonial-pic { width: 60px;margin-bottom: 5px; margin-top: 10px; height: 60px; object-fit: contain;}
.testimonial_carousel .flex-name-pic {margin-top: 10px;}
h4.hero_title {
  font-size: 24px;
  margin-bottom:20px;
}
.home-about-content{padding-left:40px;padding-right:40px;}
.home-about-content {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.lazyload-wrapper.timeline_bg ul.timeline_content li.single .content { padding-top: 37px;  position: relative; top: 20px;}
.philosophy_section ul.content .flex-li-row-2 {width: 100%; max-width: 100%;}
.flex-li-row-1 { width: 100%; max-width: 100%; display: grid;gap: 45px 0;}
.philosophy_section ul.content li {width: 100% !important; max-width: 100% !important;}
.lazyload-wrapper.timeline_bg ul.timeline_content li.single .content{padding-top:37px;position:relative;top:20px}
.philosophy_section ul.content .values-ul-icon{width:auto;height:70px; margin:0px auto; margin-bottom:20px;}
.philosophy_section ul.content .flex-li-row-2 ul.our-values-ul-icon li{width:50%!important;max-width:50%!important;text-align:center;justify-content:center;display:grid;}
ul.our-values-ul-icon{display:flex!important;flex-wrap:wrap}
.philosophy_section .flex-li-row-2 { margin-top: 50px;}
.philosophy_section {.content ul {  display: grid;justify-content: center;gap: 34px 0px;}}
.philosophy_section .content li p {text-align: justify; text-align-last: center;}
.testimonial_section {padding-top: 49px !important;padding-bottom: 185px !important;}
.enquire_section {.enquire_bg { opacity: 1;}}
.testimonial_section {padding-top: 49px !important;padding-bottom: 100px !important;}
.testimonial_section {& .testimonial_carousel { .swiper-pagination { position: relative; margin-top: 50px;bottom: 40px;}}}
.testimonial_section .swiper-button-next { left: 60%;}
.testimonial_section .swiper-button-prev { left: 33%;}
.press-releases-container .swiper-button-prev, .press-releases-container .swiper-button-next {top: 94%;margin-left: 5px;}
.philosophy_section {.content {background: unset;border: none !important;border-radius: 24px;padding: 0;border: none;}}
.about_overview { p {  text-align: justify; text-align-last: center;}}
.press_release_slider   .swiper-slide img { height: auto; }
article.awa_card.awa_shadow p.text-capitalize {font-size: 14px;}
.press-releases-container .swiper-button-prev, .press-releases-container .swiper-button-next {top: 88%;margin-left: 5px;}
article.awa_card.awa_shadow p.text-capitalize { margin-right: 15px;}
.press_release_slider .media_center .row { row-gap: 10px;}
.press_release_slider .enquire_form {.form-group { margin-bottom: 0px;}}
.press-releases-container .swiper-button-next:after, .press-releases-container .swiper-rtl .swiper-button-prev:after {font-size: 12px;}
.press-releases-container .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {font-size: 12px;}
.gallery_slider .swiper-button-prev:after, .gallery_slider .swiper-button-next:after { font-size: 12px;}
.press-releases-container .swiper-button-next {right: 40%;}
.press-releases-container .swiper-button-prev, .press-releases-container .swiper-button-next {margin-left: 33%;}

section.section.media-gallery {padding-top: 70px;}
.media-news_online {padding-top: 50px;}
.micro_hero_section { & .frames_content { img { height: 97.8%; object-fit: cover;width: 100%; }}}
.grid-left-right .content-right-img h2 { color: var(--theme_primary_color); font-size: 22px;}

p.text-center.career_para, .about_overview p {color: #cec7c7;}
.oppotunities .title, .inner-sec .half .content-half h2, .grid-left-right .content-right-img h2 { font-size: 18px !important; padding-bottom: 8px;}
.career_page .career_para {color: #cec7c7;}

}
/*---------------------------- Media Query max-width 767 Max END--------------------------------------- */