
.desktop-view{display:block;}
.mobile-view{display:none;}
section.overview_section.desktop-view .home-about-content{text-align:center;width:45%;text-transform:uppercase;margin:0 auto;padding-top:100px;padding-bottom:100px}
section.overview_section.desktop-view .home-about-content p{font-size:14px;width:93%;line-height:34px;letter-spacing:2px;margin:0 auto}
section.overview_section.desktop-view .hero_title{margin-bottom:39px;font-size:28px;letter-spacing:3px;line-height:51px}
section.scrollSlider-Content-2.desktop-view {margin-top: 100px;}
.our_brand_section .brand_content {background:unset;border-radius:20px;padding:35px 25px}
.our_brand_section .brand_content .single .content {display: grid;}
footer .social_links.text-center input[type="email"]:focus{outline:none;border:none;}
footer .social_links h5.title {text-align: right}

.testimonial-name { color: var(--theme_primary_color);margin-top: 10px; font-size: 14px;}
.single .content {h4.title {font-size: 24px !important;}}
.enquire_section {.sec_title { margin-bottom: 25px;}}

footer form{position:relative;margin-bottom:30px}
footer .social_links.text-center input[type="email"]{border:none;padding:9px;border-radius:50px;width:81%;font-size:14px}
footer .social_links.text-center button.bt{position:absolute;top:0;right:0;height:100%;border:none;border-radius:50px;background-color:#f4d966;color:#000;padding:8px 30px}
footer .social_links.text-center button.bt .btn-arrow-img { width: auto;  height: 22px;}

.our-team-section .ourteamCard button.view-details-btn.btn.btn-primary{background-color:transparent;border:none;text-transform:uppercase;letter-spacing:2px;padding:0;color:var(--theme_primary_color);font-size:15px;margin-top:10px}
.our-team-section .ourteamCard{margin-bottom:40px}

.our-team-section h3.sec_title.title{line-height:30px;letter-spacing:1px;margin:0;margin-bottom:50px;text-align:center;color:var(--theme_primary_color);text-transform:uppercase}
.our-team-section{padding-top:80px;padding-bottom:60px}
.our-team-section .ourteamCard{display:grid;gap:10px 0}
.our-team-section .ourteamCard .person-name{color:var(--theme_primary_color);font-size: 22px;}
.our-team-section .ourteamCard .person-post{color:#c1c1c1;font-size:16px;letter-spacing:1px}
.our-team-section .ourteamCard button.view-details-btn.btn.btn-primary{background-color:transparent;border:none;text-transform:uppercase;letter-spacing:2px;padding:0;color:var(--theme_primary_color);font-size:13px;margin-top:10px}
.our-team-section .ourteamCard{margin-bottom:40px}
 .modal .modal-dialog{max-width:1000px}
 .modal-body{background-color:#2d2c2c}
 .modal .modal-dialog{max-width:1000px}
.modal-body{background-color:#2d2c2c;text-align:center;padding:40px}
 .modal-body button.btn.btn-secondary{background-color:#fff;padding:7px 25px;text-transform:uppercase;letter-spacing:1px}
 .modal-body p{font-size:15px;letter-spacing:1px;text-align:justify;text-align-last:center;color:#d1d1d1}
 .modal-dialog-centered {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;min-height: calc(100% - 1rem);}
 .modal-dialog {align-items: center; height: 100%; display: flex;}
.modal-body h4.modal_name {color: var(--theme_primary_color); margin-bottom: 19px;}
.modal-body .modal_name{color:var(--theme_primary_color);margin-bottom:19px}
.modal-body{border-radius:50px;outline:1px dashed #f4d9667a;outline-offset:-17px}
.modal-content{background-color:transparent}
.modal .modal-dialog{max-width:700px}
.modal-body button.btn.btn-secondary:hover { color: #000;}
.our-team-section .ourteamCard {margin-bottom: 40px;width: fit-content;}
.our-team-section .profile-pic {padding: 20px;background-color: #2b2a2aab;border-radius: 10px;}
section.section.timeline_section.pb-0 .diamond-img{position:absolute;top:0;left:50%;transform:translate(-50%,-50%)}
section.section.timeline_section.pb-0 .container{max-width:65%}
section.section.timeline_section.pb-0 .row {justify-content: center;}
.our-team-section .row {justify-content: center;}
.our-team-section .ourteamCard {margin: 0px auto;}
section.our-team-section  .container {display: grid;gap: 50px 0px;}
section.our-team-section .col-lg-4.col-md-4.col-12  .ourteamCard {max-width: 85%;}
img.img-fluid.headpage-icon {width: auto;height: 65px;margin-bottom: 20px;}


@media screen and (min-width: 767px) {

    .navbar {
        & .navbar-toggler {
            .navbar-toggler-icon {
                filter: invert(1);
            }
        }
    }

    .container { max-width: 88%; }
    .projects_section .px_8.left_col.col-6 { display: grid;align-content: space-between; }
    .projects_section {& .left_col .single {.lazyload-wrapper, .an_img {height: 791px!important; }} }
    .projects_section {.plane_icon {display:none;}}
    .projects_section {.sec_title {  font-size: 50px; margin-bottom: 43px; letter-spacing: 46px; display: grid; gap: 20px 0px; ;}}

    .projects_section {
        .sec_title {
            text-transform: uppercase;
            font-size: 48px;
            margin-bottom: 35px;
            height: 63px;
            letter-spacing: 40px;
        }
      }
      .projects_section {
        & .sec_title {
            span {
                display: block;
                font-size: 25px;
                letter-spacing: 10px;
            }
        }
      }

    h4.title { font-size: 26px!important;  }
    .other_projects_section .other-project-img { height: 476px;object-fit: cover;}
    .other_projects_section { .sec_title {margin-bottom: 60px;}}
    .other_projects_section { .sec_title {margin-bottom: 60px;}}
    .other_projects_section .single {display: flex;flex-direction: column-reverse;}
    .other_projects_section .single .top {background-color: #131313; padding: 15px; }
    .journey_section .journey_content .plane {display: none;}
    .journey_section .journey_content .single { border: none;height: 238px; }
    .journey_section .journey_content::before {display: none;}
    .journey_section .journey_content{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;gap:22px}
    .journey_section .journey_content .single{width:31.3%;text-align:center;background-color:#131313;border-radius:10px;padding:0}
    .journey_section .journey_content .single .title{text-align:right; position: absolute;bottom: 0;right: 0;}
    .journey_section .single{padding:0!important;padding:30px!important}
    .journey_section .single.right{padding:0!important;padding:30px!important}
    .journey_section .count{position:absolute;bottom:35px;right:0;font-size:40px}
    .journey_section .title{text-transform:uppercase;letter-spacing:1px;font-size:18px}
    .journey_section .journey_content .single .top .icon {position: absolute; top: 7px; left: 7px; width: 80px;}
    .journey_section .data { height: 100%;}

    .testimonial_section  .swiper-slide { height: 33vh;}
    .testimonial_section { & .testimonial_carousel {.single { height: 100%;}}}
    .testimonial_section .single {width: fit-content; margin: 0px auto; }
    .our_brand_section .brand_content .single{width:fit-content;margin:0 auto;background:#131313;border-radius:20px;padding:25px 20px;  margin: 25px;}
    .our_brand_section .brand_content .content h4.title{font-size:18px!important}
    .our_team_section p {font-size: 27px;  letter-spacing: 3px;line-height: 34px; width: 64%; font-weight: 200;margin: 0px auto;}
    .our_brand_section {.brand_bg { position: absolute; left: 0; z-index: -1;top: 0; height: 100%;object-fit: cover;width: 100%;opacity: unset; }}
    .our_brand_section .brand_content::after{position:absolute;content:'';top:41%;left:calc(36% - 1px);display:block;height:22%;width:1px;border-right:2px dashed #c0ab50;z-index:-1;transform:rotate(90deg)}
    .our_brand_section .brand_content::before{position:absolute;content:'';top:38%;right:calc(35% - 1px);display:block;height:30%;width:1px;border-right:2px dashed #c0ab50;z-index:-1;transform:rotate(90deg)}
    .our_brand_section .brand_content .row { gap: 20px 0px; }
    .testimonial_section { .sec_title { margin-bottom: 60px;}}
    .our_brand_section .brand_content {padding-top: 0px;}
    .journey_section .journey_content .single::before{content:"";position:absolute;top:-22px;left:-22px;width:180px;height:180px;background-color:#000;border-radius:50%;z-index:1}
    .journey_section .data{position:relative;z-index:2}
    .journey_section .journey_content{width:75%;margin:0 auto}
    .journey_section {& .journey_content {& .single { &.right {margin-left: unset; }}}}
    .journey_content .single {position: relative;}
  
    .our_brand_section .brand_content .single .content{display:grid}
    footer .container{display:flex;flex-wrap:wrap}
    footer .important_links{width:33.3%; text-align:left!important;border-right: 1px solid #616161;border-top:none;}
    footer .contact_details{width:33.3%;border-top:none;border-right: 1px solid #616161;}
    footer .social_links{width:33.3%;border-top:none;}
    footer .disclaimer{width:50%;border-top:none;text-align: left !important;}
    footer .copyright{width:50%; text-align: right;border-top:none;}
    footer .important_links ul {display: flex;flex-wrap: wrap;justify-content: space-between;width: 100%;gap: 8px 0px;}
    footer .important_links ul li {width: 47%;}
    footer .title { margin-bottom: 32px;}
    footer .flex-bottom-border{display:flex;align-items:center;flex-wrap:wrap;justify-content:space-between;width:100%;  margin-top: 50px;
      padding-bottom: 50px;}
    footer .contact_details ul{display:grid;gap:19px 0;color:#fff;width: 75%;
      margin: 0px auto;}
    footer{position:relative}
    footer::after{content:"";position:absolute;bottom:38px;left:0;width:100%;height:20%;background-color:#111;z-index:-1}
    footer { & .important_links { & ul { & li {a {font-size: 14px; }}}}}
    footer {& .contact_details { & li { a { color: #dbd6d6; font-size: 14px;}}}}
    footer p {font-size: 14px;color: #dbd6d6;}
    footer {& .social_links {  & ul {   display: flex;  justify-content: end; } }}
    
    .flex-footer-form{display:flex;flex-wrap:wrap}
    .flex-footer-form section.section.enquire_section{width:50%}
    .flex-footer-form section.section.enquire_form{width:50%}
    .enquire_form .container {padding: 50px 40px!important; margin: 0px 180px!important;}
    .enquire_section {.enquire_bg {  position: absolute; z-index: 0;  height: 100%;width: 100%;object-fit: cover; left: 0; top: 0;  opacity: 0.2; z-index: -1;}}
    .enquire_section .container {padding: 170px 40px!important;  margin: 120px!important;  background-color: #000000;  display: block;position: relative;z-index:1;}
    footer {padding-top: 50px;margin-top: 50px;}
    .enquire_form, .enquire_section {height:unset!important;}
    .our_brand_section {& .brand_content { .single_col:not(:last-child) {  margin-bottom: 25px; }}}

    .micro_content{position:relative;margin-top:unset;background:transparent;z-index:1;}
    .micro_data{border-top-left-radius:unset;border-top-right-radius:unset;padding-top:20px;background:#000}
    section.section.about_overview.pb-0 {padding-top: 0px;}
    .about_overview { p { text-align: center;}}
    .enquire_section {.enquire_bg { left: 0;   top: 0; opacity:1; }z-index:1;}
/* 
    section.section.micro_banner::after { content: "";  position: absolute;top: 124%; left: 50%; width: 600px; height: 600px;border-radius: 50%; background-color: #010000; transform: translate(-50%, -50%);} */

    .about_overview {.content_col {padding-bottom: 50px;padding-top: 50px;}}
    .philosophy_section .content{justify-content:center;align-items:baseline;justify-content:space-between}
    .timeline_section{padding-bottom:60px!important}

    .philosophy_section .content li:last-child{margin:0 auto}
    .philosophy_section .content li li:last-child{margin:unset}
    section.section.about_overview.pb-0  .about_bg { display: none;}

    ul.timeline_content  .content {  display: block;}
    section.section.timeline_section.pb-0  .container { max-width: 65%;}
    .timeline_section {& .timeline_content {& .single { & .thumbnail { img {  height: 180px; width: 180px; }} }} }
    .page-header-main-heading {max-width: 88%;   background-color: #131313; margin: 0px auto;transform: translate(0px, -100px);  border-radius: 14px;padding: 51px;}
    p {font-size: 17px;}
    .sec_title {&.style1 {.title { line-height: 38px;}}}

    .contact-us-section span.icon{position:unset!important;transform:unset!important;opacity:1!important;margin-right:20px}
    .contact-us-section ul.contact_details{display:flex;align-items:center;gap:30px 0;justify-content:space-between;border-top:1px solid #f4d96669;border-bottom:1px solid #f4d96669;margin-top:30px}
    .contact-us-section li{gap:20px 0;display:flex;justify-content:space-between}

}




@media(max-width:1600px){

  .enquire_form .container {padding: 50px 40px !important;margin: 0px 115px !important;}
  p { font-size: 15px;}
  .timeline_section {& .timeline_content { & .single { & .thumbnail { img { height: 135px; width: 135px;} }}}}

}



@media(max-width:767px){


    .desktop-view{display:none!important;}
    .mobile-view{display:block!important;}

    .navbar{
        position:fixed;
        width: 100%;
        padding: 15px 5px;
        z-index: 99;
        transition:all 0.3s ease-in-out;
      
        .navbar-brand{
          padding:0;
          margin:0;
      
          img{
            max-width:60px;
            transition:all 0.3s ease-in-out;
          }
        }
      
        &.fixed{
          background:#000;
          padding: 10px 5px;
      
          img{
            max-width: 55px;
          }
        }
      }

    .projects_section{

         .sec_title{
          text-transform: uppercase;
          font-size: 32px;
          margin-bottom: 35px;
          height: 63px;
          letter-spacing: 3px;
      
          span{
            display:block;
            font-size:20px;
            letter-spacing: 1px;
          }
         }
        }

        .our_brand_section {
            .brand_content {
                background: #131313;
                border-radius: 20px;
                padding: 35px 25px;
            }
        }

        .our_brand_section {
            .brand_bg {
                position: absolute;
                left: 0;
                z-index: -1;
                top: 0;
                height: 100%;
                object-fit: cover;
                width: 100%;
                opacity: 0.2;
            }
        }

        .journey_section {
          & .journey_content {
              & .single {
                  &.right {
                      text-align: left;
                      padding: 10px 0px 5px 20px;
                      margin-left: auto;
                  }
              }
          }
      }
      .journey_section {
        & .journey_content {
           .right {
                .top {
                    display: flex;
                    align-items: flex-end;
                    justify-content: unset;
                    gap: 10px;
                }
            }
        }
    }

    footer {
      & .important_links {
          & ul {
              & li {
                  a {
                      font-size: 12px;
                      color: #fff;
                      text-decoration: none;
                  }
              }
          }
      }
  }
  .enquire_section {
    .enquire_bg {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        opacity: 0.2;
    }
}
    
footer .social_links.text-center input[type="email"] { width: 100%;}

.micro_content{
    position:relative;
    margin-top: -210px;
    background: transparent;
    z-index: 1;
  
    &:before{
      /* position: absolute; */
      content: '';
      background: #131313;
      top: -160px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1000px;
      z-index: 1;
    }
  
    .micro_data{
      border-top-left-radius: 1000px!important;
      border-top-right-radius: 1000px!important;
      padding-top: 20px;
      overflow: hidden;
      background: #000;
    }
  }
  .about_overview {.img_col { left: 0px!important; }}
  .micro_content{
    position:relative;
    margin-top: -210px;
    background: transparent;
    z-index: 1;
  
    &:before{
      /* position: absolute; */
      content: '';
      background: #131313;
      top: -160px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1000px;
      z-index: 1;
    }
  
    .micro_data{
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      padding-top: 20px;
      overflow: hidden;
      background: #000;
    }
  }
  .contact_details{
    display:grid;
    li{
      text-align: center;
      color:#fff;
      font-size:18px;
      margin:15px 0;
      display:block;
      position:relative;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        text-align: center;
        color:#fff;
        font-size:18px;
      }
      .icon{
        position: absolute;
        content: '';
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        top: 50%;
        z-index: 0;
        border: 1px dashed var(--theme_primary_color);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.2;
        img{
          width: 30px;
        }
      }
    }
  }

.enquire_form .container {padding: 0px 40px !important; margin: 0px 0px !important;}
section.section.about_overview.pb-0  .about_bg {display: block;}
section.section.timeline_section.pb-0 .container {max-width: 100%;}

.cardContent {margin-bottom: 29px;padding-top: 10px;}
section.our-team-section .container {display: grid;gap: 20px 0px;}
section.our-team-section .col-lg-4.col-md-4.col-12 .ourteamCard {max-width: 100%;}
.our-team-section .ourteamCard {margin-bottom: 40px;width: 100%;}
.profile-pic img.img-fluid {width: 100%;}
.our-team-section .ourteamCard { margin-bottom: 1px; width: 100%;}


}